.sidebar{

  border-radius: 10px;
  width: 380px;
  height: 400px;
  margin-left: 400px;
  margin-top: 100px;
  display: inline-block;
}
.comp1{
  border-radius :10px 10px 10px 10px;
  width: 300px;
  height: 50px;
  
}
.comp1:hover{
  background-color: rgb(35, 135, 216);
}
.imagebar{
  height:850px;
  width:700px;
  border: 4px solid black;
  float: right;
  margin-right: 180px;
}
.img1{
  width:60px;
  height:50px;
  float: left;
  border-radius: 10px;
}
.title1{
  width:235px;
  height:50px;
  font-size: 20px;
  float:right;
}



